@import "vars";

/*==========  Desktop First  ==========*/

// ≥1440px
@include media-breakpoint-down(xl) {

  .search {
    input {
      padding: 9px 40px 10px 15px;
    }
  }

  .all-categories {
    &__subcategories {
      font-size: 13px;
    }
  }

  .section {
    &__background {
      &--pr {
        right: 0;
      }
    }
    &__title {
      font-size: 28px;
    }
  }
  
  .viewed {
    &__background {
      display: none;
    }
  }

  .product-card {
    &__image {
      min-height: 220px;
    }
  }

  .subscribe {
    &__form {
      input {
        min-width: 300px;
      }
    }
  }

  .bars {
    &__bar {
      height: 3px;
      margin-bottom: 5px;
    }
    &__title {
      line-height: 1;
    }
  }

  .button {
    padding: 9px 24px 9px 24px;
    &--border-bottom {
      padding: 5px 0;
    }
  }

  .stocks {
    &__item {
      min-height: 350px;
    }
  }

  .stocks-item {
    &__wrap {
      &--right {
        padding-right: 45px;
      }
    }
  }

  .subscribe {
    &__content {
      font-size: 15px;
    }
  }

  .seo-text {
    &__content {
      font-size: 14px;
      p {
        margin-bottom: 15px;
      }
    }
  }

  .subscribe {
    &__form {
      input {
        font-size: 11px;
        min-width: 160px;
        padding: 10px 15px;
      }
      button {
        font-size: 10px;
        height: 38px;
      }
    }
  }

  .orders {
    &__sort {
      margin-bottom: 20px;
      font-size: 14px;
    }
    &__column {
      text-align: left !important;
    }
    &__items {
      margin: 0 -10px;
    }
    &__item {
      padding: 0 10px;
    }
    &__search {
      flex-grow: 1;
      margin-left: 25px;
      min-width: 150px;
    }
  }

  .order-item {
    font-size: 14px;
    &__wrap {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px 20px 0 20px;
      & > * {
        flex-basis: calc(100% / 2) !important;
        margin-bottom: 20px;
      }
      &[data-order-status="completed"] {
        border: 2px solid $green;
      }
      &[data-order-status="canceled"] {
        border: 2px solid $accent;
      }
      &[data-order-status="expect"] {
        border: 2px solid $orange;
      }
      &[data-order-status="frozen"] {
        border: 2px solid $secondary;
      }
    }
    &__title {
      display: block;
    }
    &__status-bar {
      display: none;
    }
    &__thumbnails {
      ul {
        justify-content: flex-start;
        margin-top: 5px;
      }
    }
  }

  .page-title {
    font-size: 26px;
  }

}

// ≥1280px
@include media-breakpoint-down(lg) {

  .page-title {
    font-size: 24px;
  }

  .orders {
    &__count {
      font-size: 14px;
    }
    &__search {
      margin-left: 15px;
      margin-right: 15px;
    }
    &__sort {
      padding: 7px 10px;
      flex-wrap: wrap;
    }
    &__sort-item {
      font-size: 12px;
    }
  }

  .social-login {
    font-size: 13px;
  }

  .autosearch {
    &__wrap {
      left: 50% !important;
      right: 40px !important;
      max-width: 100% !important;
      transform: translateX(-50%);
    }
  }

}

// ≥1024px
@include media-breakpoint-down(md) {

  .modal-lg {
    max-width: calc(100% - 40px);
    margin: .5rem auto;
  }

  .subscribe {
    &__wrap {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__content {
      margin-bottom: 15px;
      text-align: center;
      img {
        display: none;
      }
    }
  }

  .stocks {
    &__item {
      min-height: 300px;
      margin-bottom: 25px;
    }
  }

  .stocks-item {
    &__wrap {
      padding: 30px 20px;
    }
  }

  .orders {
    &__sort {
      position: relative;
      padding: 0;
      margin-top: 0;
      select {
        padding: 0 95px 0 10px;
        border: none;
        background: none;
        border-bottom: 1.5px solid #676767;
        border-radius: 0;
        font-weight: 500;
        font-size: 13px;
        color: #252525;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
    &__sort-title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 13px;
      user-select: none;
      cursor: pointer;
      padding: 10px 0 10px 10px;
      svg {
        margin-right: 10px;
      }
    }
    &__header {
      align-items: flex-start;
      flex-direction: column;
      & > * {
        margin-bottom: 15px;
      }
    }
    &__search {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  .filters {
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    overflow: auto;
    direction: rtl;
    background: #FFF;
    padding: 0;
    z-index: 16;
    width: 100%;
    max-width: 320px;
    transition: transform .4s;
    &.active {
      transform: translateX(-100%);
      transition: transform .4s;
    }
    &__header,
    &__checkbox-group,
    &__price,
    &__search {
      direction: ltr;
    }
    &__close {
      cursor: pointer;
    }
    &__price {
      padding: 15px 20px 40px 20px;
    }
    &__checkbox-group,
    &__search {
      padding: 15px 20px;
    }
  }

  .reviews {
    &__content {
      padding: 0 40px;
    }
  }

  .autosearch {
    &__column {
      padding: 15px 20px 30px 20px;
      &:last-child {
        ul {
          padding-right: 20px;
        }
      }
    }
  }

  .together {
    .slick-dots {
      bottom: -60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        border: 1px solid $accent;
      }
    }
    &__arrow {
      position: initial;
      margin: 0 30px;
    }
  }

  .together-item {
    &__wrap {
      flex-direction: column;
    }
    &__product {
      &:first-child {
        border-right: none !important;
        border-bottom: 1px solid #dedede;
        &:before {
          right: 50%;
          top: auto;
          bottom: 0;
          transform: translate(50%, 50%);
          width: 50px;
        }
      }
    }
    &__total {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & > span:first-child {
        margin-bottom: 10px;
      }
    }
  }

}

// ≥768px
@include media-breakpoint-down(sm) {

  .modal-lg {
    max-width: calc(100% - 20px);
  }

  .modal {
    &__together {
      padding: 20px 15px 60px 15px;
    }
    &__cart {
      padding: 5px 20px;
    }
  }

  .cart {
    &__continue {
      margin-top: 10px;
    }
    &__total {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &__total-wrap {
      justify-content: center;
      flex-wrap: wrap;
      font-size: 14px;
      .price {
        margin-right: 0;
        margin-bottom: 10px;
        &__current,
        &__special {
          font-size: 18px;
        }
      }
    }
  }

  .cart-product {
    padding: 20px 0;
    &__wrap {
      flex-wrap: wrap;
    }
    &__image {
      width: 70%;
      height: 85px;
      min-height: auto;
      margin: 0 auto 15px auto;
      img {
        object-position: center;
      }
    }
    &__delete {
      margin-left: 10px;
    }
    &__details {
      max-width: 100%;
    }
    &__name {
      font-size: 13px;
    }
    &__footer {
      //margin-left: -120px;
    }
    .quantity__title {
      display: none;
    }
  }

  .breadcrumb {
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 11px;
  }

  .rating {
    &__label {
      font-size: .6rem;
    }
  }

  .quantity {
    &__title {
      font-size: 12px;
    }
    &__input-wrap {
      width: 110px;
    }
    &__input {
      height: 30px;
    }
    &__operation {
      width: 26px;
      height: 26px;
    }
  }

  .availability {
    svg {
      margin-right: 10px;
    }
  }

  .search {
    input {
      padding: 7px 40px 7px 15px;
    }
  }

  .page-title {
    font-size: 22px;
  }

  .section {
    &__title {
      width: 100%;
      text-align: center;
      font-size: 24px;
    }
    &__header-text {
      display: none;
    }
    &__content {
      margin-top: 25px;
    }
    &__title {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      color: $text !important;
    }
    &__arrows {
      display: none;
    }
    &__background {
      display: none;
    }
  }

  .slideshow {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -9px -15px -9px;
    }
    &__item {
      width: calc(50% - 18px);
      margin: 0 9px 15px 9px;
    }
  }

  .category-card {
    &__image {
      height: 155px;
      img {
        height: 80%;
      }
    }
    &__title {
      font-size: 14px;
    }
  }

  .product-card {
    &__header {
      top: 8px;
      left: 12px;
      right: 12px;
    }
    &__favorite {
      svg {
        width: 18px;
      }
    }
    &__sticker {
      font-size: 10px;
      padding-top: 1px;
      height: 18px;
    }
    &__image {
      min-height: 200px;
    }
    &__wrap {
      background: none;
    }
    &__content {
      padding: 13px 0 15px 0;
    }
    &__title {
      font-size: 13px;
    }
    &__vendor {
      display: block;
      font-size: 11px;
      line-height: 1.35
    }
    &__price {
      margin-top: 7px;
    }
  }

  .price {
    &__previous {
      font-size: 12px;
      display: block;
    }
    &__current,
    &__special {
      font-size: 14px;
      margin-left: 0;
    }
  }

  .stocks {
    &__item {
      min-height: 210px;
    }
  }

  .stocks-item {
    &__title {
      font-size: 15px;
    }
    &__terms,
    &__button {
      font-size: 9px;
    }
  }

  .pagination {
    &__more {
      padding: 7px 15px;
      font-size: 14px;
    }
    &__item {
      font-size: 14px;
      min-width: 30px;
      height: 30px;
    }
    &__arrow {
      width: 30px;
      height: 30px;
      &--prev {
        margin-right: 15px;
      }
      &--next {
        margin-left: 15px;
      }
    }
  }

  .orders {
    &__items {

    }
    &__item {
      margin-bottom: 15px;
    }
    &__column {
      &:nth-child(1) {
        flex-basis: 60% !important;
      }
      &:nth-child(2) {
        flex-basis: 40% !important;
      }
      &:nth-child(3) {
        flex-basis: 60% !important;
      }
      &:nth-child(4) {
        flex-basis: 40% !important;
      }
      &:nth-child(5) {
        flex-basis: 60% !important;
      }
      &:nth-child(6) {
        flex-basis: 40% !important;
      }
    }
  }

  .order-item {
    &__thumbnail {
      width: 42px;
      height: 30px;
    }
  }

  .reviews {
    &__content {
      padding: 0 15px;
    }
    &__item {
      padding: 30px 0;
    }
  }

  .review {
    &__date {
      margin-top: 15px;
      margin-left: 0;
    }
    &__text {
      font-size: 13px;
    }
    &__advantages {
      font-size: 13px;
    }
  }

  .faq {
    &__item {
      box-shadow: 10px 13px 20px rgba(0, 0, 0, 0.07);
      padding: 0;
      background: #F7F7F7;
      border-radius: 5px;
      border: none;
    }
    &__question {
      padding: 10px 15px;
      font-size: 15px;
    }
    &__response {
      margin-top: 0;
      padding: 20px 20px 25px 20px;
      max-width: 100%;
      background: #FFF;
      font-size: 13px;
    }
  }

  .autosearch {
    &__wrap {
      width: calc(100% - 30px);
      max-height: 500px;
      flex-direction: column;
      padding: 15px 10px 15px 20px;
    }
    &__column {
      padding: 20px 0;
      &:last-child {
        padding-right: 0;
        ul {
          padding-right: 0;
        }
      }
      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #E0E0E0;
      }
      .product-card__link {
        justify-content: flex-start;
      }
      .product-card__title,
      .product-card__vendor {
        font-size: 14px;
        line-height: 1.3 !important;
      }
      .product-card__image {
        img {
          object-position: top center;
        }
      }
    }
    &__column-wrap {
      overflow: initial;
    }
  }

  .together {
    &__title {
      font-size: 18px;
    }
    &__content {
      width: 100%;
      margin: 0;
    }
  }

  .together-item {
    &__product {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: auto;
    }
    &__total {
      flex-direction: column-reverse;
      padding: 15px;
      font-size: 12px;
      & > span:first-child {
        margin-top: 15px;
      }
      .price {
        margin-right: 0 !important;
        margin-top: 15px;
        margin-bottom: 15px;
        &__current,
        &__special {
          font-size: 15px;
        }
      }
    }
  }

}

// ≥360px
@include media-breakpoint-down(xs) {

  .autosearch {
    .product-card__title {
      display: block;
    }
  }

}

// ≤ 1024
@include media-breakpoint-up(md) {
  .modal-lg {
    max-width: 992px;
  }
}
