@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html {
  overflow-x: hidden;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $gotham-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

* {
  transition: color .2s, background-color .2s, background .2s, fill .2s;
  &:hover {
    transition: color .2s, background-color .2s, background .2s, fill .2s;
  }
}

a {
  color: inherit;
  &:hover {
    color: initial;
    text-decoration: none;
  }
}

.button {
	padding: 11px 32px 10px 32px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	border: none;
	&--accent {
		border-radius: 1px;
		background: $accent;
		color: #FFF;
		&:hover {
			background: darken($accent, 2%);
		}
	}
	&--border-bottom {
		padding: 5px 0 0 0;
		color: #2F2F2F;
		border-bottom: 2px solid $accent;
		&:hover {
			color: $accent;
		}
	}
}

.search {
	position: relative;
	width: 100%;
	input {
		width: 100%;
		padding: 13px 45px 12px 20px;
		font-size: 14px;
		font-family: $gilroy-font;
		border: 1px solid #A3A3A3;
		border-radius: 23px;
		&::placeholder {
			color: #636363;
		}
	}
	button {
		position: absolute;
		top: 50%;
		right: 17px;
		transform: translateY(-50%);
		background: none;
		border: none;
		img {
			max-width: 16px;
		}
	}
}

.bars {
	&__bar {
		display: block;
		width: 12px;
		height: 1px;
		background: #242E35;
		&:not(:last-child) {
			margin-bottom: 2px;
		}
		&:nth-child(1) {}
		&:nth-child(2) {}
		&:nth-child(3) {}
	}
	&.active {
		.bars__bar {
			&:nth-child(1) {}
			&:nth-child(2) {}
			&:nth-child(3) {}
		}
	}
}

.main-content {

}

.slideshow {
	&__arrow {
		&--prev {

		}
		&--next {

		}
	}
	&__items {
		padding: 0;
		.slick-slide {
			margin: 0 12.5px;
		}
		.slick-list {
			margin: 0 -12.5px;
		}
	}
}

@import "media"; // Always at the end
