.header {
  position: relative;
  box-shadow: 0 6.21477px 11.6527px rgba(0, 0, 0, 0.05);
  z-index: 10;
  background: #FFF;
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
    display: none;
    cursor: pointer;
  }
  &__top {
    background: #F2F2F2;
    font-size: 14px;
  }
  &__top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
  }
  &__top-pages {
    ul {
      display: flex;
      margin: 0 -12.5px;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0 12.5px;
    }
  }
  &__info {
    display: flex;
    margin: 0 -10px;
    & > * {
      margin: 0 10px;
      img {
        max-width: 13px;
        margin-right: 10px;
      }
    }
  }
  &__social {
    display: flex;
    a {
      display: flex;
      align-items: center;
      margin: 0 10px;
    }
  }
  &__middle {

  }
  &__middle-wrap {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    img {
      max-width: 175px;
    }
  }
  &__search {
    flex-grow: 1;
    padding: 0 45px;
  }
  &__search-autosearch {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  &__contact {

  }
  &__user {
    display: flex;
    align-items: center;
    svg {
      display: flex;
    }
    a {
      &:hover {
        span {
          color: $accent;
        }
        svg {
          path {
            fill: $accent;
          }
        }
      }
    }
  }
  &__cabinet {
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-size: 15px;
    line-height: 1.13;
    span {
      max-width: 70px	;
      margin-left: 10px;
    }
  }
  &__favorite {
    padding-left: 30px;
    padding-right: 35px;
  }
  &__cart {
    border: none;
    background: none;
    cursor: pointer;
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
  }
  &__categories {
    display: flex;
    font-weight: 500;
  }
  &__bottom-pages {
    ul {
      display: flex;
      margin: 0 -10px;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0 10px;
    }
  }
  &__bars {
    margin-top: 3px;
    margin-right: 20px;
  }
  &__responsive {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    overflow: auto;
    transform: translateX(-100%);
    transition: transform .4s;
    background: #FFF;
    color: $text;
    z-index: 999;
    &.active {
      transform: none;
      transition: transform .4s;
    }
    .header__logo {
      img {
        max-width: 120px;
      }
    }
    .header__user {
      img {
        transform: scale(.70);
      }
    }
    .header__favorite {
      padding-right: 10px;
    }
  }
  &__responsive-link {
    font-weight: 500;
    margin: 10px 0;
    &:hover {
      span {
        color: $accent;
      }
      path {
        fill: $accent;
      }
    }
  }
  &__responsive-link-icon {
    display: inline-block;
    min-width: 30px;
  }
  &__register {
    font-size: 12px;
    border-bottom: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
  }
}

.contact {
  display: flex;
  &__arrow {
    padding-right: 8px;
    line-height: .8;
    img {
      max-width: 13px;
    }
  }
  &__main-phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #282C34;
    line-height: 1;
  }
  &__callback {
    font-size: 15px;
    color: #E0001A;
    border-bottom: 1px dashed #E0001A;
  }
}

.categories {
  &__show {
    margin-right: 12.5px;
    & > span {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        span {
          color: $accent;
        }
        .bars__bar {
          background: $accent;
        }
      }
      .bars {
        margin-right: 10px;
      }
    }
  }
  &__main {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0 12.5px;
      padding-bottom: 20px;
    }
  }
}

.all-categories {
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  display: flex;
  max-height: 500px;
  z-index: 2;
  &__wrap {
    display: none;
    width: auto;
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 0 0 0 5px;
    box-shadow: 4px 20px 25px rgba(0, 0, 0, 0.12);
    transition: width .2s;
    &.active {
      transition: width .2s;
      width: 100%;
      border-radius: 0 0 5px 5px;
    }
  }
  &__main-list {
    position: relative;
    margin: 0;
    list-style: none;
    padding: 16px 0 30px 25px;
    border-right: 1px solid #DBDBDB;;
  }
  &__main-item-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    span {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        bottom: -3px;
        left: -2px;
        right: -2px;
        top: 55%;
        background: rgba(224, 0, 26, 0.07);
      }
    }
  }
  &__main-item-icon {
    display: flex;
    align-items: center;
    width: 40px;
    padding-right: 10px;
  }
  &__main-item-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 50px;
    & > svg {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
    }
    a {
      display: inline-block;
      width: 100%;
    }
    &:hover {
      path {
        fill: $accent
      }
      & > a {
        color: $accent;
      }
    }
  }
  &__main-item {
    &--has-children {

    }
    &:not(:last-child) {
      padding-bottom: 15px;
    }
  }
  &__subcategories {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    bottom: 0;
    display: none;
    max-height: 500px;
    min-width: 450px;
    padding: 10px 35px 25px 35px;
    font-weight: 400;
    font-size: 15px;
    ul {
      height: 90%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      margin: 0 -60px 0 0;
      padding: 0;
      list-style: none;
      li {
        padding-right: 60px;
        padding-bottom: 2px;
        &:hover {
          a {
            color: $accent;
          }
        }
      }
    }
  }
}

.header-area {
  position: relative;
  padding: 25px 0;
  color: #FFF;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(57, 60, 63, 0.85);
    }
  }
  &__left-side {

  }
  &__menu {

  }
  &__logo {
    margin-left: 30px;
    img {
      max-width: 130px;
    }
    span {
      margin-left: 25px;
      color: #CAD1D6;
    }
  }
  &__right-side {

  }
  &__cash {
    span {
      color: #FFF;
    }
  }
  &__promt {
    margin: 0 35px;
    cursor: pointer;
  }
  &__user {
    margin-right: 30px;
    span {
      color: #FFF;
    }
  }

}

@import "header-responsive";