@import "../vars";

.page-user-area {
  padding-top: 50px;
  background: #FBFBFB;
  &__subscribe {

  }
  &__content {
    padding-bottom: 90px;
  }
  &__favorites,
  &__orders {
    padding-bottom: 60px;
  }
  &__sidebar {

  }
  &__pagination {
    margin-top: 50px;
  }
}

.user-sidebar {
  &__user {
    padding-bottom: 17px;
  }
  &__user-wrap {
    display: flex;
    padding: 12px 22px 9px 22px;
    background: #FCE8E6;
    border-radius: 5px;
    svg {
      margin-right: 20px;
      margin-top: 4px;
    }
  }
  &__username {
    display: block;
    font-size: 17px;
    line-height: 1.2;
  }
  &__user-mail {
    font-size: 14px;
    color: #494949;
  }
  &__items {
    margin: 0;
    padding: 17px 10px;
    list-style: none;
  }
  &__item {
    color: #202224;
    a {
      display: flex;
      align-items: center;
    }
    &:not(:last-child) {
      margin-bottom: 17px;
    }
    svg {
      display: flex;
      margin-right: 15px;
    }
  }
}

.favorites {
  &__content {

  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 15px 0;
  }
  &__items {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 25px;
  }
  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
  }
  &__action {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 15px;
    border: none;
    background: none;
    cursor: pointer;
    &.disabled {
      opacity: .4;
      cursor: not-allowed;
    }
    svg {
      margin-right: 7px;
    }
  }
  &__sort {

  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-top: 20px;
    button {
      margin-left: 20px;
    }
  }
  &__count {
    display: block;
    color: #828282;
    font-size: 15px;
  }
  &__total {
    font-size: 24px;
  }
}

@import "user-area-responsive";






/////// Rostik

.enter-form {
  margin-top: 50px;
}

.login-text {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
}

.login-card {
  border-radius: 0rem !important;
  width: 460px;
  height: 596px;
  padding: 27px 63px 63px 63px;
;
}

.login-card-body {
  padding: 0px !important;
}

.input-style {
  width: 335px;
  height: 56px;
  border: 1px solid #B9B9B9 !important;
  box-sizing: border-box;
  border-radius: 2px !important;
}

input[type="text"]::-webkit-input-placeholder {
  padding-left: 44px;
  background-image: url(img/rost/input_icon.png);
  background-repeat: no-repeat;
}

input[type="text"]::-moz-placeholder {
  padding-left: 44px;
}

input[type="password"]::-moz-placeholder {
  padding-left: 44px;
}

input[type="password"]::-webkit-input-placeholder {
  padding-left: 44px;
  background-image: url(img/rost/input_icon_2.png);
  background-repeat: no-repeat;
}

input[type="search"] {
  background: #F7F7F7;
  border-radius: 3px!important;
  width: 218px;
  height: 40px;
}

#select_filter {
  width: 281px;
  height: 42px;
  background: #F7F7F7;
  border-radius: 1px!important;
}

.site_link {
  margin-top: -37px;
  font-size: 15px;
}

.form-check {
  position: inherit !important;
}

.login-btn {
  width: 100%;
  margin-top: 28px;
  color: white;
  background: #E0001A;
  border-radius: 4px !important;
  height: 50px;
  font-size: 15px !important;
}

.register_text {
  margin-top: 12px;
  font-size: 15px;
}

.register_link {
  margin-left: 25px;
}

hr {
  width: 107px;
}

.hr_right {
  margin-top: -25px;
}

.hr_left {
  margin-top: 11px;
}

.catalog_hr {
  width: 836px;
}

.margin_hr {
  margin-top: 76px;
}

.catalog_sm_hr {
  width: 218px;
  margin-left: 0px;
  margin-top: 25px;
}

.catalog_sm_hr_2 {
  width: 218px;
  margin-left: 0px;
}

.sign_through {
  margin-right: 105px;
  font-size: 13px;
}

.facebook_p {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  width: 157px;
  height: 46px;
  padding: 8px;
  background: #556494;
  cursor: pointer;
}

.google_p {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  width: 157px;
  height: 46px;
  padding: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.facebook_link {
  color: white !important;
  margin-left: 15px;
}

.google_link {
  color: #6F6F6F !important;
  margin-left: 15px;
}

.banner_bottom {
  margin-top: 50px;
  background-image: url(img/rost/banner1.png);
  height: 85px;
}

.banner_icon {
  margin-top: 21px;
}

.banner_text {
  color: white;
  margin-top: 21px;
}

#InputEmail1 {
  width: 378.24px;
  height: 48px;
  border-radius: 0px!important;
}

.subscribe_btn {
  width: 165.76px;
  height: 48px;
  border-radius: 0px!important;
  color: white;
  background: #E0001A;
}

.subscribe_form {
  display: inline-flex;
  width: 100%;
  margin-top: 21px;
}

.breadcrumb {
  background-color: white!important;
  padding: .75rem 0rem!important;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: url(img/rost/'Rectangle 9.png')!important;
}

.breadcrumb_link {
  color: #949494;
}

.breadcrumb-item.active {
  color: #414141!important;
}

.breadcrumb-item {
  font-size: 14px!important;
}

.arrow_img {
  margin-left: 10px;
}

.use_search {
  color: red;
}

.select_label {
  margin-right: 40px;
  margin-top: 5px;
}

.scrollBar2 {
  overflow-y: auto;
  width: 225px;
  height: 300px;
}

.scrollBar2::-webkit-scrollbar {
  width: 14px;
  background-color: #dfe6e9;
}

.scrollBar2::-webkit-scrollbar-track {
  border: 7px solid white;
  background-color: #b2bec3;
}

.scrollBar2::-webkit-scrollbar-thumb {
  background-color: #E1E1E1;
  border-radius: 10px;
  width: 10px!important;
  height: 87px;
}

input[type=checkbox] {
  margin-right: 26px;
}

.container_label {
  display: block;
  position: relative!important;
  padding-left: 35px!important;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #EDEDED;
}

.container_label:hover input~.checkmark {
  background-color: #ccc;
}

.container_label input:checked~.checkmark {
  background-color: #E94D5F;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_label input:checked~.checkmark:after {
  display: block;
}

.container_label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top .3s;
  transition: left 0.3s, top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}


/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* Slider size and handle placement;
   */

.noUi-horizontal {
  height: 4px;
  width: 220px;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  border-radius: 2px;
  top: -7px;
  left: -7px;
  background: rgba(224, 0, 26, 0.7);
}


/* Styling;
   */

.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #E8E8E8;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
  margin-top: 30px;
}

.noUi-target.noUi-connect {}


/* Handles and cursors;
   */

.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}


/* Disabled state;
   */

[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.caption {
  border: 1px solid #F7F7F7;
  width: 89px;
  height: 38px;
  background: #F7F7F7;
  border-radius: 3px;
  margin-left: 15px;
}

#slider-range-value1 {
  background-color: #F7F7F7
}

#slider-range-value2 {
  background-color: #F7F7F7
}

.hyphen {
  font-weight: 500;
  color: #A6A5A5;
  padding-left: 15px;
}

.checkbox_2 {
  margin-top: 30px;
  margin-left: 0px!important;
}

.btn_1 {
  margin-top: 100px;
  width: 281px;
  height: 54px;
  border: 1px solid #169BD5!important;
  box-sizing: border-box;
  border-radius: 4px!important;
  background-color: white!important;
  color: #169BD5!important;
  font-weight: 500!important;
}

.btn_down {
  margin-top: 40px;
}

.btn_arrow {
  background: url(img/rost/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2!important;
  box-sizing: border-box;
  border-radius: 5px!important;
  width: 50px;
  height: 39px;
}

.btn_arrow_2 {
  background: url('img/rost/Rectangle 2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2!important;
  box-sizing: border-box;
  border-radius: 5px!important;
  width: 50px;
  height: 39px;
}

.btn_pageNum {
  font-weight: 500!important;
  width: 50px;
  height: 39px;
  background: white;
  border: 1px solid #F2F2F2!important;
  box-sizing: border-box;
  border-radius: 5px!important;
}

.btn_pageNum:hover {
  border: 1px solid #E0001A!important;
  color: #E0001A!important;
}

.personal_cab {

}

.user_name {
  background: #FCE8E6;
  border-radius: 5px;
  padding: 16px 35px 16px 20px;
  svg {
    width: 20px;
    margin-top: 3px;
    margin-right: 15px;
  }
}

.user_name_img {
  margin-top: 20px;
  margin-left: 30px;
}

.user_text {
  margin-left: 68px;
  margin-top: -33px;
}

.p_text {
  font-size: 30px!important;
  margin-top: 10px;
}

.hr_276px {
  width: 276px;
  margin-top: 36px;
}

.hr_276px_2 {
  width: 276px;
  margin-right: 835px;
}

.my_orders {
  margin-top: 30px;
}

.my_orders_img {
  margin-top: 9px;
}

.my_orders_img_container {
  width: 35px;
  height: 35px;
  background: #F4F4F4;
  border-radius: 50%;
}

.item_img {
  position: relative;
  right: 30px;
}

.item_img_2 {
  position: relative;
  right: 31px;
}

.item_img_3 {
  position: relative;
  right: 28px;
}

.item_img_4 {
  position: relative;
  right: 29px;
}

.text_1 {
  margin-left: 2px;
}

.text_2 {
  margin-left: 3px;
}

.text_3 {
  margin-left: 4px;
}

.text_4 {
  margin-left: -1px;
}

.personal_cab_item {
  margin-top: 25px;
}

.personal_data {
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 18px;
}

.personal_data_2 {
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 18px;
}

.personal_data_3 {
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 18px;
  padding-bottom: 35px;
}

.personal_cab_img {
  margin-top: 25px;
  margin-left: 36px;
}

.personal_cab_p {
  margin-left: 75px;
  margin-top: -20px;
}

.personal_cab_a {
  margin-top: -41px;
  margin-right: 42px;
  color: #E0001A;
}

.personal_cab_a:hover {
  color: #E0001A!important;
  text-decoration: none!important;
}

.link_img {
  margin-right: 15px;
}

.personal_cab_span {
  font-size: 13px;
  color: #818181;
}

.personal_cab_text_1 {
  margin-left: 60px;
}

.personal_cab_text_2 {
  margin-left: -60px;
}

.personal_cab_text_3 {
  margin-left: -60px;
}

.personal_cab_checkbox {
  margin-left: 73px;
}

.social_net_alert {
  margin-top: 50px;
  margin-left: 34px;
}

.facebook_p_2 {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 15px;
  background: #556494;
  cursor: pointer;
  img {
    margin-right: 10px;
  }
}

.google_p_2 {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 15px;
  background: #FBFBFB;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.01);
  cursor: pointer;
  margin-left: 40px;
}

.facebook_link_2 {
  font-size: 13px;
  color: white!important;
  text-decoration: none!important;
}

.google_link_2 {
  font-size: 13px;
  color: #575757;
  text-decoration: none!important;
  img {
    margin-right: 10px;
  }
}

.social_net_link {
  margin-top: 30px;
  margin-left: 46px;
}

.facebook_span {
  font-weight: 500;
  font-size: 15px;
  background-color: inherit;
  color: white;
}

.google_span {
  font-weight: 500;
  font-size: 15px;
  background-color: inherit;
  color: #575757;
}

.facebook_logo {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.goodle_logo {
  width: 23.58px;
  height: 23.58px;
  margin-top: 7px;
}

.account_facebook {
  display: block;
  background-color: inherit;
  color: white;
}

.account_google {
  display: block;
  background-color: inherit;
  color: #575757;
}

.delate_acc {
  color: #E0001A;
}

.btn_exit_acc {
  margin-top: 20px;
  margin-left: 46px;
  width: 227px;
  height: 52px;
  border: 2px solid #474747!important;
  border-radius: 3px!important;
  background-color: white!important;
  color: #474747!important;
}

@media (max-width: 490px) {
  .login-card {
    width: 100%;
  }
}
@media (max-width: 467px) {
  .login-card {
    padding: 22px;
  }

  .login_bottom {
    margin-bottom: 48px;
  }

  .social_link {
    margin-top: -50px;
  }
}
@media (max-width: 423px) {
  .login-card {
    padding: 22px;
  }
}
@media (max-width: 389px) {
  hr {
    width: 85px;
  }

  .sign_through {
    margin-right: 83px;
  }

  .facebook_link {
    margin-left: 0px
  }

  .google_link {
    margin-left: 0px
  }
}
@media (max-width: 344px) {
  hr {
    width: 65px;
  }

  .sign_through {
    margin-right: 66px;
  }
}
@media (max-width: 327px) {
  .login-card {
    padding: 10px;
  }
}