@import "../vars";

.page-home {
  &__banner {

  }
  &__popular-categories {
    padding-top: 65px;
    padding-bottom: 115px;
  }
  &__viewed {
    padding-top: 45px;
    padding-bottom: 55px;
  }
  &__recommended {
    padding-top: 65px;
    padding-bottom: 25px;
  }
  &__stocks {

  }
  &__special {
    padding-top: 73px;
  }
  &__recent {
    padding-top: 35px;
    padding-bottom: 55px;
  }
  &__advantages {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  &__youtube {
    padding-top: 55px;
    padding-bottom: 80px;
  }
  &__about {
    padding-top: 70px;
    padding-bottom: 130px;
  }
  &__subscribe {

  }
}

.popular-categories {
  &__items {
    margin: -15px -12.5px;
    padding: 0;
    list-style: none;
  }
  &__item {
    padding: 17px 12.5px;
  }
}

.advantages {
  border-top: 1px solid #D5D5D5;
  &__header {
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 17px;
  }
  &__content {
    margin-top: 75px;
  }
  &__items {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  &__item {

  }
}

.advantage {
  &__image {
    width: 100%;
    height: 180px;
    img {
      width: 65%;
      height: 100%;
      object-fit: contain;
      object-position: bottom left;
    }
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #252525;
  }
  &__description {
    max-width: 250px;
    margin-top: 10px;
    color: #353535;
    line-height: 1.3;
  }
}

.youtube {
  background: #F9F9F9;
  &__content {
    position: relative;
    margin-top: 65px;
  }
  &__chanel-name {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    transform: translate(-35px, -70%);
    opacity: .3;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25), 5px 5px 25px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  &__items {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  &__item {

  }
}

.video {
  &__preview {
    position: relative;
    display: block;
    width: 100%;
    height: 165px;
    cursor: pointer;
    &:hover {
      .video__button {
        transform: translate(-50%,-50%) scale(1.15);
        transform-origin: center;
        transition: transform .2s;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
    transition: transform .2s;
  }
  &__title {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    line-height: 1.2;
    &:hover {
      color: $accent;
    }
  }
  &__date {
    font-size: 13px;
    color: #616161;
  }
}

.about {

}