.viewed {
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: scale(.5) translate(30%, -50%);
    transform-origin: top right;
  }
  &__content {
    margin-top: 32px;
  }
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {

  }
}