@import "../vars";

.page-catalog {
  &__subcategories {
    margin-bottom: 80px;
    ul {
      margin-top: 40px;
    }
  }
  &__pagination {
    padding-top: 55px;
    padding-bottom: 80px;
  }
  &__about {
    margin-top: 100px;
    margin-bottom: 110px;
  }
}

.catalog {
  &__header {
    padding: 20px 0;
    margin-bottom: 40px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  &__filters {

  }
  &__checkout-group {
    margin-bottom: 25px;
  }
}

.filters {
  &__price {
    padding: 20px 0 35px 0;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
  }
  &__checkbox-group {

  }
  .custom-checkbox {
    margin-left: 3px;
  }
}

/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top .3s;
  transition: left 0.3s, top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}


/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* Slider size and handle placement;
   */

.noUi-horizontal {
  height: 4px;
  width: 220px;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  border-radius: 2px;
  top: -7px;
  left: -7px;
  background: rgba(224, 0, 26, 0.7);
}


/* Styling;
   */

.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #E8E8E8;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
  margin-top: 30px;
}

.noUi-target.noUi-connect {}


/* Handles and cursors;
   */

.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}


/* Disabled state;
   */

[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.caption {
  border: 1px solid #F7F7F7;
  width: 89px;
  height: 38px;
  background: #F7F7F7;
  border-radius: 3px;
  margin-left: 15px;
}

#slider-range-value1 {
  background-color: #F7F7F7
}

#slider-range-value2 {
  background-color: #F7F7F7
}

.hyphen {
  font-weight: 500;
  color: #A6A5A5;
  padding-left: 15px;
}

.checkbox_2 {
  margin-top: 30px;
  margin-left: 0px!important;
}

.btn_1 {
  margin-top: 100px;
  width: 281px;
  height: 54px;
  border: 1px solid #169BD5!important;
  box-sizing: border-box;
  border-radius: 4px!important;
  background-color: white!important;
  color: #169BD5!important;
  font-weight: 500!important;
}

.btn_down {
  margin-top: 40px;
}

.btn_arrow {
  background: url('../../img/rost/Rectangle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2!important;
  box-sizing: border-box;
  border-radius: 5px!important;
  width: 50px;
  height: 39px;
}

.btn_arrow_2 {
  background: url('../../img/rost/Rectangle 2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2!important;
  box-sizing: border-box;
  border-radius: 5px!important;
  width: 50px;
  height: 39px;
}

.btn_pageNum {
  font-weight: 500!important;
  width: 50px;
  height: 39px;
  background: white;
  border: 1px solid #F2F2F2!important;
  box-sizing: border-box;
  border-radius: 5px!important;
}

.btn_pageNum:hover {
  border: 1px solid #E0001A!important;
  color: #E0001A!important;
}

.personal_cab {
  background: #FBFBFB;
  max-width: 100%!important;
}

.user_name {
  width: 276px;
  height: 66px;
  background: #FCE8E6;
  border-radius: 5px;
}

.user_name_img {
  margin-top: 20px;
  margin-left: 30px;
}

.user_text {
  margin-left: 68px;
  margin-top: -33px;
}

.p_text {
  font-size: 30px!important;
  margin-left: 50px;
  margin-top: 10px;
}

.hr_276px {
  width: 276px;
  margin-top: 36px;
}

.hr_276px_2 {
  width: 276px;
  margin-right: 835px;
}

.my_orders {
  margin-top: 30px;
}

.my_orders_img {
  margin-top: 9px;
}

.my_orders_img_container {
  width: 35px;
  height: 35px;
  background: #F4F4F4;
  border-radius: 50%;
}

.item_img {
  position: relative;
  right: 30px;
}

.item_img_2 {
  position: relative;
  right: 31px;
}

.item_img_3 {
  position: relative;
  right: 28px;
}

.item_img_4 {
  position: relative;
  right: 29px;
}

.text_1 {
  margin-left: 2px;
}

.text_2 {
  margin-left: 3px;
}

.text_3 {
  margin-left: 4px;
}

.text_4 {
  margin-left: -1px;
}

.personal_cab_item {
  margin-top: 25px;
}

.personal_data {
  width: 954px;
  height: 223px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 46px;
}

.personal_data_2 {
  width: 954px;
  height: 152px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 46px;
}

.personal_data_3 {
  width: 954px;
  height: 175px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 46px;
}

.personal_cab_img {
  margin-top: 25px;
  margin-left: 36px;
}

.personal_cab_p {
  margin-left: 75px;
  margin-top: -20px;
}

.personal_cab_a {
  margin-top: -41px;
  margin-right: 42px;
  color: #E0001A;
}

.personal_cab_a:hover {
  color: #E0001A!important;
  text-decoration: none!important;
}

.link_img {
  margin-right: 15px;
}

.personal_cab_span {
  font-size: 13px;
  color: #818181;
}

.personal_cab_text_1 {
  margin-left: 60px;
}

.personal_cab_text_2 {
  margin-left: -60px;
}

.personal_cab_text_3 {
  margin-left: -60px;
}

.personal_cab_checkbox {
  margin-left: 73px;
}

.social_net_alert {
  margin-top: 50px;
  margin-left: 34px;
}

.facebook_p_2 {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  width: 227px;
  height: 58px;
  padding: 8px;
  background: #556494;
  cursor: pointer;
}

.google_p_2 {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  width: 227px;
  height: 58px;
  padding: 8px;
  background: #FBFBFB;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.01);
  cursor: pointer;
  margin-left: 40px;
}

.facebook_link_2 {
  font-size: 13px;
  color: white!important;
  text-decoration: none!important;
}

.google_link_2 {
  font-size: 13px;
  color: #575757;
  text-decoration: none!important;
}

.social_net_link {
  margin-top: 30px;
  margin-left: 46px;
}

.facebook_span {
  font-weight: 500;
  font-size: 15px;
  background-color: inherit;
  color: white;
  margin-left: 12px;
}

.google_span {
  font-weight: 500;
  font-size: 15px;
  background-color: inherit;
  color: #575757;
  margin-left: 12px;
}

.facebook_logo {
  width: 23.58px;
  height: 23.58px;
  margin-top: 7px;
  margin-left: 10px;
}

.goodle_logo {
  width: 23.58px;
  height: 23.58px;
  margin-top: 7px;
  margin-left: 10px;
}

.account_facebook {
  background-color: inherit;
  color: white;
  margin-left: 49px;
  position: relative;
  bottom: 7px;
}

.account_google {
  background-color: inherit;
  color: #575757;
  margin-left: 49px;
  position: relative;
  bottom: 7px;
}

.delate_acc {
  color: #E0001A;
  margin-right: 237px;
  margin-top: -59px;
}

.btn_exit_acc {
  margin-top: 20px;
  margin-left: 46px;
  width: 227px;
  height: 52px;
  border: 2px solid #474747!important;
  border-radius: 3px!important;
  background-color: white!important;
  color: #474747!important;
}

@media (max-width: 490px) {
  .login-card {
    width: 100%;
  }
}
@media (max-width: 467px) {
  .login-card {
    padding: 22px;
  }

  .login_bottom {
    margin-bottom: 48px;
  }

  .social_link {
    margin-top: -50px;
  }
}
@media (max-width: 423px) {
  .login-card {
    padding: 22px;
  }
}
@media (max-width: 389px) {
  hr {
    width: 85px;
  }

  .sign_through {
    margin-right: 83px;
  }

  .facebook_link {
    margin-left: 0px
  }

  .google_link {
    margin-left: 0px
  }
}
@media (max-width: 344px) {
  hr {
    width: 65px;
  }

  .sign_through {
    margin-right: 66px;
  }
}
@media (max-width: 327px) {
  .login-card {
    padding: 10px;
  }
}