@import "../vars";

.page-catalog {
  &__subcategories {
    margin-bottom: 80px;
    ul {
      margin-top: 40px;
    }
  }
  &__pagination {
    padding-top: 55px;
    padding-bottom: 80px;
  }
  &__about {
    margin-top: 100px;
    margin-bottom: 110px;
  }
}

.catalog {
  &__header {
    padding: 20px 0;
    margin-bottom: 40px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  &__filters {

  }
  &__checkout-group {
    margin-bottom: 25px;
  }
}

@import "catalog-responsive";