@import "../vars";
@import "../../libs/bootstrap/scss/mixins/breakpoints";

/*==========  Desktop First  ==========*/

// ≥1440px
@include media-breakpoint-down(xl) {

}

// ≥1280px
@include media-breakpoint-down(lg) {

  .sitemap {
    column-count: 3;
    font-size: 14px;
    &__main-category {
      font-size: 15px;
    }
  }

}

// ≥1024px
@include media-breakpoint-down(md) {

  h4 {
    font-size: 18px;
  }

  .delivery {
    .advantages {
      font-size: 14px;
      &__item {
        margin-bottom: 20px;
      }
    }
    .advantage {
      &__icon {
        svg {
          max-height: 50px;
        }
      }
    }
  }

}

// ≥768px
@include media-breakpoint-down(sm) {

  .sitemap {
    column-count: 2;
    font-size: 12px;
    &__main-category {
      font-size: 14px;
    }
  }

  .page-info {
    &__map {
      margin-bottom: 30px;
      #map {
        height: 300px !important;
      }
    }
    &__contacts {
      font-size: 14px;
    }
    &__content {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 14px;
    }
  }

}

@media screen and (max-width: 576px) {

  .sitemap {
    column-count: 1;
    font-size: 14px;
    &__main-category {
      font-size: 16px;
    }
  }

}

// ≥360px
@include media-breakpoint-down(xs) {



}
