@import "../vars";

.page-info {
  &__map {
    margin-bottom: 90px;
  }
  &__contacts {
    padding-bottom: 40px;
  }
  &__banner {

  }
  &__content {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  &__payment {
    margin-bottom: 60px;
  }
}

.delivery {
  &__advantages {
    margin: 40px 0;
    .advantage__description {
      margin: auto;
    }
  }
  &__content {
    margin-bottom: 60px;
  }
  table {
    font-size: 13px;
    &.table-bordered {
      border: 1px solid #dee2e6;
    }
    th,
    td {
      padding: 10px 15px;
      vertical-align: middle !important;
    }
    th {
      font-weight: 500;
    }
    td {
      font-size: 13px;
      font-weight: 400;
    }
  }
  &__content {
    font-size: 14px;
  }
}

.sitemap {
  column-count: 4;
  margin: 0 -20px 0 0;
  padding: 40px 0 80px 0;
  list-style: none;
  & > li {
    margin-bottom: 30px;
    margin-right: 20px;
  }
  &__main-category {
    display: inline-block;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    & + ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  &__subcategory {
    text-decoration: underline;
    & + ul {
      list-style: none;
      li {
        position: relative;
        &:before {
          position: absolute;
          content: '-';
          top: 0;
          right: calc(100% + 5px);
          color: $accent;
          font-size: 22px;
        }
      }
    }
  }
}

.payments {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0 40px 0;
  padding: 0;
  list-style: none;
  li {
    margin-right: 15px;
  }
  img {
    height: 50px;
  }
}

@import "info-responsive";